@charset "utf-8";
/* CSS Document */

* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	}

/* ---------- FONTAWESOME  FONTS ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


@font-face {
    font-family: "Roboto-regular";
    src: url("../fonts/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "Roboto-light";
    src: url("../fonts/RobotoLight.eot");
    src: url("../fonts//RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* ---------- GENERAL ---------- */

body {
	/*background-color: #2c3338;*/
	background-color: #d8d7dc;
	color: #606468;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	box-sizing:border-box;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
img {
	width:auto;
	height:auto;
	}
input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	
}
.clearfix:after { clear: both;  }
.clearfix {
	padding:20px;
	border:none;
	}
/* ---------- LOGIN ---------- */
.fusion_logo {
	margin-top:100px;
	width:450px;
}
#login {
	margin: 20px auto;
	width: 320px;
	background:none;
	border:none;
}

#login form span {
	background-color: #3D3C3C;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
	outline:none;
}

#login form input[type="text"], input[type="password"] {
	background-color: #FFF;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	color:#000000 !important;
	padding: 0 16px;
	width: 230px;
}
.fontawesome-user {
	padding-top:13px;
}
.fontawesome-user .fa {
	color:#FFF;
	font-size:1.6em;
}
.fontawesome-lock {
	padding-top:13px;
}
.fontawesome-lock .fa {
    color:#FFF;
    font-size:1.6em;
}
#login form input:focus {
	color:#fff;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ea4c88;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 280px;
}

#login form input[type="submit"]:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}


.vladmaxi-top{
	line-height: 24px;
	font-size: 11px;
	background: #eee;
	text-transform: uppercase;
	z-index: 9999;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	font-family: calibri;
	font-size: 13px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.vladmaxi-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}
.CoreCopy {
	position:absolute;
	bottom:10px;
	right:10px;
}
.CoreCopy a {
	color:#D44179;
}
.error {
	font-family: "Roboto-light";
	font-size: 14px;
	background:none;
	color:red;
	text-align:center;
	min-height:0px;
	max-width:280px;
	font-size:20px;
}
/*generator page*/
.generator-top {
	width:100%;
	}
.generator-menu {
	width:100%;
	height:auto;
	}
.generator-top-box	.generator-logo {
	width:30%;
	}
.generator-menu .generator-info {
	background:rgba(255,255,255,0.5);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	padding:30px;
	min-height:300px;
	width:90%;
	margin:0 auto;
	margin-top:40px;
	}
.generator-menu .generator-info-circle {
	font-size:3.5em;
	color:#000;
	opacity:0.7;
	float:left;
	margin:0px 20px 10px 0px;
	}
.generator-menu p {
	font-family: "Roboto-light";
	font-size: 14px;
	text-align:left;
	color:rgba(60,73,92,0.6);
	}
.generator-content {
	padding:40px 20px 100px 20px;
	width:100%;
	}
.generator-content input[type=text]:valid {
	border:1px solid lightblue;
	}
.generator-content input[type=text]:invalid {
	border:1px solid #F16A6C;
	}
.generator-link-logout {
	color:rgba(0,0,0,1.00);
	position:absolute;
	right:10px;
	top:10px;
	display:block;
	background:none;
	padding:5px 20px 5px 20px;
	overflow:hidden;
	width:150px;
	text-align:center;
	}
.generator-link-logout .fa-sign-out {
	color:#D8D7DC;
	left:-50px;
	position:absolute;
	top:9px;
	}
.generator-link-logout:hover {
	color:rgba(249,248,248,1.00);
	background:rgba(0,0,0,1.00);
	text-decoration:none;
	}
.generator-link-logout:hover .fa-sign-out  {
	-moz-transition:0.3s ease-in-out;
	-webkit-transition:0.3s ease-in-out;
	-o-transition:0.3s ease-in-out;
	transition:0.3s ease-in-out;
	left:30px;
	}

.generator-submit-btn {
	float:right;
	margin-top:50px;
	}

	
	
	
	
	
	
	